body{
    background-color: aqua;
}
table{
    align-items: center;
    display: flex;
    justify-content: center;
}
.mc{
    background-color: red;
    color: white;
    padding: 10px;
    text-align: center;
}
.c{
    
   text-align: center;
    background-color: green;
    padding: 10px;
    block-size: 10px;
    color: white;
}
.mc1{
    
     text-align: center;
     background-color: green;
     padding: 10px;
    
     color: white;
 }
 a{
    padding: 20px;
    font-size: large;
 }
